<h1 class="page-title" style="padding: 50px 0px;
  height: 100px;">{{ page.title }}</h1>



{% include 'breadcrumbs' %}

<div class="page-content rte">
  {{ page.content }}
  
  </div>
<style>
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px;  
  margin:auto;
  padding-bottom:10px;

}

.left {
  /* Just in case there are inline attributes */
  width: 630px !important;
  height: auto !important;
  padding-right:5px;
  padding-top:25px;
  float: left;
}

.right {
  /* Just in case there are inline attributes */
  width: 630px !important;
  height: auto !important;
  padding-left:5px;
  padding-top:25px;
  float: right;
}

@media (max-width: 500px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  margin: auto;
  display:block;
  }
}
</style>
<div style="margin: 0px; font-size: 2em; text-align: center; line-height: 2;">This promotion has ended. Thank you for shopping.</div>

<p style="text-align: center; width: 100%;">
  <a href="https://attic2zoo.com/collections/jason-markk" title="Jason Markk">
    <img src="https://cdn.shopify.com/s/files/1/0554/2497/files/05112016_jasonmarkk_over200.jpg?17677599060421787598" alt="Jason Markk" style="float: none;" />
  </a>
</p>

<div style="margin: 0px; font-size: 1.2em; text-align: center; line-height: 2;">Jason Markk's gentle, foaming Premium Shoe Cleaner effectively removes dirt and stains from your favorite footwear, conditioning it to look good as new. Biodegradable, 98% natural and totally free of harsh chemicals and abrasives, this cleaner's as good to the environment as it is to your shoes. Here, a 4-ounce bottle is packaged with a wooden-handled brush, providing (almost) everything you need to restore and revitalize your shoes' original shine. (Just add water. And shoes.)
</div>

<section id="photos">
  <div style="width: 100%;">
  <a title="Jason Markk" href="https://attic2zoo.com/collections/jason-markk/products/jason-markk-premium-shoe-cleaning-kit-4-oz?variant=17048837251">
    <img class="left" src="https://cdn.shopify.com/s/files/1/0554/2497/files/05112016_jasonmarkk_over200_sub01.jpg?17677599060421787598" alt="Jason Markk" />
  </a>
  </div>
  <div style="width: 100%;"><a href="https://attic2zoo.com/collections/jason-markk/products/jason-markk-premium-shoe-cleaning-kit-4-oz?variant=17048837251" title="Jason Markk">
  <img class="right" src="https://cdn.shopify.com/s/files/1/0554/2497/files/05112016_jasonmarkk_over200_sub05.jpg?17677599060421787598" alt="Jason Markk" />
  </a>
  </div>
</section>

<div style="text-align: center; width: 100%;"><a href="https://attic2zoo.com/collections/jason-markk" title="Jason Markk">
  <img src="https://cdn.shopify.com/s/files/1/0554/2497/files/05112016_jasonmarkk_over200_bottom02.jpg?5426343034917744569" alt="Jason Markk" style="float: none;" />
  </a>
</div>

<div style="margin: 0px; font-size: 1.2em; padding-top: 25px; text-align: center;">For all purchases over $200, we will include a complimentary Jason Markk Premium Shoe Cleaning Kit ($16 value).
</div>

<div style="text-align: center; padding-top: 30px; width: 100%;"><a href="https://attic2zoo.com/collections/jason-markk" title="Jason Markk">
  <img src="https://cdn.shopify.com/s/files/1/0554/2497/files/05112016_jasonmarkk_over200_bottom.jpg?5426343034917744569" alt="Jason Markk" style="float: none;" />
  </a>
</div>

<div style="margin: 0px; font-size: 1em; padding-top: 25px; text-align: center;">&#40;Effective until June 10th, 2016&#41;
</div>
