<h1 class="page-title" style="padding: 50px 0px;
  height: 100px;">{{ page.title }}</h1>
{% include 'breadcrumbs' %}

<div class="page-content rte">
  {{ page.content }}
</div>
<table style="margin: auto; max-width: 1260px; border: 0px;">
<tbody>
  <tr>
        <td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/asics"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/asics_2221442f-5b2a-4d02-bcf2-a9128499c9c0.jpg?7248699019361637081" alt="asics" />
        <span class="brand-name" style="text-align: center; padding: 40px 55px; font-size: 14px;">ASICS</span></a></li></ul></td>
        <td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/crep-protect"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Crep_618bca89-4aff-4185-b114-4213facf09d8.jpg?4798327482586220770" alt="Crep Protect" />
        <span class="brand-name" style="text-align: center; padding: 64px 0px; font-size: 14px;">CREP PROTECT</span></a></li></ul></td>   
        <td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/embellish"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Embellish_e6373c97-e119-4ec8-8f6e-e2b0a82c0a7f.jpg?4798327482586220770" alt="embellish nyc" />
        <span class="brand-name" style="text-align: center; padding: 64px 0px; font-size: 14px;">EMBELLISH</span></a></li></ul></td>
  		<td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/herschel-supply-co"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Herschel.jpg?4798327482586220770" alt="herschel supply co" />
        <span class="brand-name" style="text-align: center; padding: 64px 0px; font-size: 14px;">HERSCHEL SUPPLY CO.</span></a></li></ul></td>
  		<td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/jason-markk"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Jason-Markk_21442279-e0c6-48a2-af30-ecc8a4341f42.jpg?4798327482586220770" alt="jason markk" />
        <span class="brand-name" style="text-align: center; padding: 64px 0px; font-size: 14px;">JASON MARKK</span></a></li></ul></td>
        <td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/new-balance"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/nb_logo.jpg?632227790465457180" alt="new balance" />
        <span class="brand-name" style="text-align: center; padding: 65px 0px; padding-left: 0px; font-size: 14px;">NEW BALANCE</span></a></li></ul></td>
  </tr>
  <tr>
    	<td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/onitsuka-tiger"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/onitsuka_57997ef3-644f-49f0-b388-5536281553ba.jpg?16666750570897024223" alt="onitsuka tiger" />
        <span class="brand-name" style="text-align: center; padding: 40px 40px; font-size: 14px;">ONITSUKA TIGER</span></a></li></ul></td>
        <td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/poler"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Poler_8f12daf7-f55a-44fe-a25a-66a35aaa4875.jpg?16666750570897024223" alt="poler" />
        <span class="brand-name" style="text-align: center; padding: 64px 48px; font-size: 14px;">POLER</span></a></li></ul></td> 
        <td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/puma"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Puma_grande.jpg?6864611341954280796" alt="puma" />
        <span class="brand-name" style="text-align: center; padding: 64px 48px; font-size: 14px;">PUMA</span></a></li></ul></td>
    	<td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/reebok"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Reebok.jpg?4798327482586220770" alt="reebok" />
        <span class="brand-name" style="text-align: center; padding: 64px 48px; font-size: 14px;">REEBOK</span></a></li></ul></td>
    	<td style='border: 0px;'>
		<ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/saucony"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/saucony.jpg?12641264920522513307" alt="saucony" />
        <span class="brand-name" style="text-align: center; padding: 64px 48px; font-size: 14px;">SAUCONY</span></a></li></ul></td>
  		<td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/stance"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Stance.jpg?17643669374530691803" alt="stance" />
        <span class="brand-name" style="text-align: center; padding: 64px 48px; font-size: 14px;">STANCE</span></a></li></ul></td>
  </tr>
  <tr>        
  		<td style='border: 0px;'>
        <ul class="brand-list" style="margin-bottom: 0;">
        <li><a href="/collections/vans"><img src="https://cdn.shopify.com/s/files/1/0554/2497/files/Vans.jpg?4798327482586220770" alt="vans" />
        <span class="brand-name" style="text-align: center; padding: 64px 48px; font-size: 14px;">VANS</span></a></li></ul></td>
  </tr>
  </tbody>
</table>