{% comment %}
  Assign related rad rewards
{% endcomment %}
<section id="safe" class="rad-rewards page_contents">
  <section class="page_header">
    <div class="rewards__header">
      <h1>{{ page.title }}</h1>
      <div class="text">{{ page.content }}</div>
      <img class="img" src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/rewards_step.png?v=1613101692" alt="rewards step">
      <div class="bts">
        <a href="#smile-home" class="base-button pink-button">join now</a>
        <a href="/account/login" class="base-button pink-button">sign in</a>
      </div>
    </div>
  </section>
  <section class="tokens">
    <div class="rewards_content">
    <img class="kidred" src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/kidred.png?v=1613693599" alt="">
    <h2><span>How To Earn</span> Trace Tokens</h2>
    <section class="flex-table">
      <div class="flex-table__item">
        <h3>Sign Up</h3>
        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/RewardIcon_Signup.png?v=1613094361" alt="Sign Up"></div>
        <div class="text">75 Tokens</div>

      </div>
      <div class="flex-table__item">
        <h3>Place an Order</h3>
        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/RewardIcon_Cart.png?v=1613094361" alt="Place an Order"></div>
        <div class="text">1 Token for Every $1 Spent  at <span>Without A Trace</span> <span class="small">(shipping excluded)</span></div>

      </div>
      <div class="flex-table__item">
        <h3>Celebrate a Birthday</h3>
        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/RewardIcon_Birthday.png?v=1613094361" alt="Celebrate a Birthday"></div>
        <div class="text">35 Tokens</div>

      </div>
      <div class="flex-table__item">
        <h3>Follow on Instagram</h3>
        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/RewardIcon_IG.png?v=1613094361" alt="Follow on Instagram"></div>
        <div class="text">25 Tokens</div>

      </div>
      <div class="flex-table__item">
        <h3>Share on Facebook</h3>
        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/RewardIcon_FB.png?v=1613094361" alt="Share on Facebook"></div>
        <div class="text">25 Tokens</div>
      </div>
      <div class="flex-table__item">
        <h3>Like on Facebook</h3>
        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/RewardIcon_FBlike.png?v=1613094361" alt="Like on Facebook"></div>
        <div class="text">25 Tokens</div>
      </div>
    </section>
    </div>
  </section>
  <section class="rewards_content coupon">
    <h2><span>Redeem</span> Your Trace Tokens</h2>
      <img class="kidgreen" src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/kidgreen.png?v=1613693599" alt="">
    <section class="flex-table redeem">
      <div class="flex-table__item">
        <img class="img" src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/Reward_Coupon5.png?v=1613094361" alt="$5coupon">
        <div class="item__label">150 Trace Tokens</div>
        <a href="#smile-points-activity-rules" class="base-button pink-button">Redeem</a>
      </div>
      <div class="flex-table__item">
        <img class="img" src="https://cdn.shopify.com/s/files/1/0284/8804/0557/files/Reward_Coupon25.png?v=1613094361" alt="$25coupon">
        <div class="item__label">600 Trace Tokens</div>
        <a href="#smile-points-activity-rules" class="base-button pink-button">Redeem</a>
      </div>
    </section>
  </section>

</section>
