{% assign image = '' %}
<section class="top-image__block special_content">
  <div class="wave">
    <div class="top-image__inner">
      <div class="top-image__txt">
        <h1>Allergen-Free Snacks</h1>
        <p>All the Awesome. <span>None of the Compromise.</span></p>
        <a href="collections/our-products" class="base-button blue-button">
          SHOP NOW
        </a>
      </div>
    </div>
  </div>
</section>