{% comment %}
  The contents of the product.description-bottom.liquid template can be found in /sections/product-description-bottom-template.liquid
{% endcomment %}

<div class="container">

  {% render 'product-structured-data' %}

<div class="sixteen columns alpha omega" data-initial-width="sixteen" data-sidebar-width="twelve">
  {% section 'product-recharge-price-template' %}
</div>

</div>
